[submodule "public"]
	path = public
	url = https://github.com/va2577/va2577.github.io.git
	branch = master
[submodule "themes/hugo-swift-theme"]
	path = themes/hugo-swift-theme
	url = https://github.com/onweru/hugo-swift-theme.git
