<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
  </head>
  <body>
    <header>
      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Password Generator
            </h1>
            <h2 class="subtitle">
              (Vue.js)
            </h2>
          </div>
        </div>
      </section>
    </header>
    <main id="app">
      <form>
        <div class="field">
          <label class="label" for="length">Length (<span>{{ length }}</span>)</label>
          <div class="control">
            <input class="input is-info" type="range" v-model="length" min="1" max="256" step="1" />
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="checkbox">
              <input type="checkbox" v-model="uppercase" />
              Uppercase
            </label>
          </div>
          <div class="column">
            <label class="checkbox">
              <input type="checkbox" v-model="lowercase" />
              Lowercase
            </label>
          </div>
          <div class="column">
            <label class="checkbox">
              <input type="checkbox" v-model="number" />
              Number
            </label>
          </div>
          <div class="column">
            <label class="checkbox">
              <input type="checkbox" v-model="symbol" />
              Symbol
            </label>
          </div>
        </div>
        <div class="field">
          <label class="label" for="gen3">String</label>
          <div class="control">
            <input class="input is-info" type="text" v-model="gen3" readonly />
          </div>
        </div>
      </form>
      <!-- <p>
        {{ length }}
      </p>
      <p>
        {{ gen }}
      </p>
      <p>
        {{ gen2 }}
      </p>
      <p>
        {{ gen3 }}
      </p> -->
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p><a href="https://bulma.io/">Bulma</a></p>
        <p><a href="https://vuejs.org/">Vue.js</a></p>
      </div>
    </footer>
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          length: 16,
          uppercase: true,
          lowercase: true,
          number: true,
          symbol: false,
          chars: [...Array(128).keys()]
            .filter(x => 33 <= x && x <= 126)
            .map(x => String.fromCharCode(x)),
          chars3: [...Array(128).keys()]
            .filter(x => 33 <= x && x <= 126)
        },
        methods: {
          getRandomInt: (min, max) => {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
          },
          filteredChars3: function () {
            const isSymbol = (x) => {
              const s1 = 33 <= x && x <= 47
              const s2 = 58 <= x && x <= 64
              const s3 = 91 <= x && x <= 96
              const s4 = 123 <= x && x <= 126
              return s1 || s2 || s3 || s4
            }
            return this.chars3
              .filter(x => !this.uppercase && !(65 <= x && x <= 90) || this.uppercase)
              .filter(x => !this.lowercase && !(97 <= x && x <= 122) || this.lowercase)
              .filter(x => !this.number && !(48 <= x && x <= 57) || this.number)
              .filter(x => !this.symbol && !isSymbol(x) || this.symbol)
              .map(x => String.fromCharCode(x))
          }
        },
        computed: {
          gen: function () {
            const array2 = [...Array(Number(this.length)).keys()]
              .map(x => this.getRandomInt(1, this.chars.length - 1))
              .map(x => this.chars[x])
            return array2.join('')
          },
          gen2: function () {
            const array = new Uint32Array(Number(this.length))
            crypto.getRandomValues(array)
            const array2 = Array.from(array)
              .map(x => x % (this.chars.length - 1))
              .map(x => this.chars[x])
            return array2.join('')
          },
          gen3: function () {
            const array = new Uint32Array(Number(this.length))
            crypto.getRandomValues(array)
            const c = this.filteredChars3()
            const array2 = Array.from(array)
              .map(x => x % (c.length - 1))
              .map(x => c[x])
            return array2.join('')
          }
        }
      })
    </script>
  </body>
</html>
